.tittle h1{
    color: #0288D1;
    font-weight: 800;
}
.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  
  .demo-chip-list {
    width: 100%;
  }
}