

<app-header></app-header>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
       <div class="site-sidebar">
        <app-side-bar></app-side-bar>
       </div>
    
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <div class="example-sidenav-content">
        <button class="toggle-sidebar" type="button" (click)="drawer.toggle()">
          <i class="material-icons">
            arrow_right
            </i>
        </button>
       <div class="content-area">
           <mat-card>
        <router-outlet></router-outlet>
    </mat-card>
       </div>
      </div>
    </div>





    
  
  </mat-drawer-container>