/* You can add global styles to this file, and also import other style files */

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.required {
	color: red;
}

body,
html {
	height: 100%;
	font-family: 'Poppins', sans-serif !important;
	font-size: 15px !important;
}


/*---------------------------------------------*/

a {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
	color: #6a7dfe;
	color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
	color: -o-linear-gradient(left, #21d4fd, #b721ff);
	color: -moz-linear-gradient(left, #21d4fd, #b721ff);
	color: linear-gradient(left, #21d4fd, #b721ff);
}


/*---------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul,
li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/

input {
	outline: none;
	border: none;
}

textarea {
	outline: none;
	border: none;
}

textarea:focus,
input:focus {
	border-color: transparent !important;
}


/*---------------------------------------------*/

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.p-b-20 {
	padding-bottom: 20px;
}

.clearfix {
	clear: both;
}

.m-b-50 {
	margin-bottom: 50px;
}

figure {
	margin: 0 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	-webkit-text-fill-color: #adadad;
	transition: background-color 5000s ease-in-out 0s;
}

::placeholder {
	font-size: 15px;
}

.d-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

.justify-content-between {
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.align-self-center {
	-ms-flex-item-align: center!important;
	align-self: center!important;
}

.site-sidebar {
	width: 281px;
	overflow: hidden;
	background-color: #ffffff;
}

.mat-drawer-container {
	height: calc(100vh - 78px);
}

.mat-drawer-side {
	border-right: 0;
	box-shadow: 0px 3px 13px 0 rgba(0, 0, 0, 0.14);
	background-color: #ffffff;
}

.toggle-sidebar {
	background: #2399fa;
	color: #fff;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	position: fixed;
	line-height: 0.4;
	padding: 1px 3px;
}

.content-area {
	padding: 35px;
}

.mat-card {
	padding: 35px !important;
	// border-radius: 10px !important;
}

.mat-form-field,
.mat-raised-button {
	font-family: "Poppins", sans-serif !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
	background-color: #eef2f3;
}

.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
	background-color: #0e3f8c;
}

.mat-form-field-ripple {
	height: 1px !important;
	// background-color: #239cfc66 !important;
}

.mat-form-field-label span {
	color: #ababaf;
	font-weight: 300;
	font-size: 14px;
}

.mat-drawer-container {
	background-color: #eef2f3;
}

.mat-focused .mat-form-field-label span {
	color: #289dfd !important;
}

.mat-tab-body.mat-tab-body-active, .mat-tab-body-content{
    overflow: unset !important;
}

span.tab-heading.ng-star-inserted {font-size: 18px;font-weight: 500;color: #9899ac;opacity: 1;font-family: 'Poppins', sans-serif;}

.mat-tab-label .mat-tab-label-content i {
    padding-right: 9px;
    color: #9899ac;
}


.mat-tab-label{
	opacity: 1 !important;
}
.uer-style-box {
    padding-top: 30px;
}
.mat-tab-label.mat-ripple.ng-star-inserted.mat-tab-label-active span.tab-heading.ng-star-inserted {
    color: #0d3e8c;
}

.mat-tab-label.mat-ripple.ng-star-inserted.mat-tab-label-active i {
    color: #0d3e8c;
}

.mat-tab-list .mat-tab-label {
    margin-right: 50px;
}